
body {
  background-image: url(http://www.best-wallpaper.de/grafiken/gros/weltall/erde/Florida.jpg);
  font-family: georgia, cursive, serif, white;
  color: white;
}

.container{
  border: solid 5px blue;
}

.well{
  border: solid 10px yellow;
  background-color: lightblue;
  font-family: georgia, cursive, serif, white;
  color: royalblue;
}
