<div class="container">
  <div class="row">
    <div class="col-md-5 col-md-offset-3">
      <h3>latitude: {{ minutelyData.latitude}}, longitude: {{minutelyData.longitude}}</h3>

    </div>
  </div>
  <div class="row" ng-repeat='card in minutelyData.minutely.data'>
  <div class="col-md-6 col-md-offset-3 well">
    <div class="row">
      <div class="col-md-4">
        <img ng-src="images/{{minutelyData.minutely.icon}}.png" alt="{{minutelyData.minutely.icon}}" style='width: 100px;'>
      </div>
      <div class="col-md-4">
        <h4>{{card.time * 1000 | date: 'short'}}</h4>
      </div>
    </div>
    <div class="row">
     <h5>Precipitation Probability: {{ card.precipProbability * 100 | number:0 }} %</h5>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3>{{ summaryLookup[card.summary] || card.summary }}</h3>
      </div>
    </div>
  </div>
</div>
